@page
@model CRUD.Pages.DetailModel
@{
    //Layout = null;
}
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<div>
    <h4>
        Detail Data Kendaraan
    </h4>
    <form>
    <div class="row">
        <div class="col-4">
          <label for="noRegistrasiKendaraan" class="form-label">No. Registrasi Kendaraan</label>
          <input type="text" class="form-control" id="noRegistrasiKendaraan" value="@Model.listKendaraan.alamat" readonly>
        </div>
        <div class="col-4">
          <label for="tahun" class="form-label">Tahun</label>
          <input type="text" class="form-control" id="tahun" value="@Model.listKendaraan.tahun" readonly >
        </div>
    </div>
    <div class="row">
        <div class="col-4">
          <label for="namaPemilik" class="form-label">Nama Pemilik</label>
          <input type="text" class="form-control" id="namaPemilik" value="@Model.listKendaraan.namaPemilik" readonly>
        </div>
        <div class="col-4">
          <label for="kapasitas" class="form-label">Kapasitas Silinder</label>
          <input type="text" class="form-control" id="kapasitas" value="@Model.listKendaraan.kapasitas" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
          <label for="merk" class="form-label">Merk Kendaraan</label>
          <input type="text" class="form-control" id="merk" value="@Model.listKendaraan.merkKendaraan" readonly>
        </div>
        <div class="col-4">
          <label for="warna" class="form-label">Warna Kendaraan</label>
          <select class="form-select" id="warna" aria-label="Floating label select example" disabled>
            <option>Pilih Warna</option>
            <option value="Merah">Merah</option>
            <option value="Hitam">Hitam</option>
            <option value="Biru">Biru</option>
            <option value="Abu-Abu">Abu-Abu</option>
          </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
          <label for="alamat" class="form-label">Alamat Pemilik Kendaraan</label>
          <textarea class="form-control" id="alamat" rows="3" readonly>@Model.listKendaraan.alamat</textarea>
        </div>
        <div class="col-4">
          <label for="bahanBakar" class="form-label">Bahan Bakar</label>
          <input type="text" class="form-control" id="bahanBakar" value="@Model.listKendaraan.bahanBakar" readonly>
        </div>
    </div>

    <div class="col-8" style="margin-top: 20px">
        <a class="btn btn-secondary" href="/" role="button" style="width:100%">Kembali</a>
    </div>
    </form>
</div>


<script>
     $(document).ready(function () {
         $('.judul').empty();
         $("#warna option[value=@Model.listKendaraan.warna]").attr('selected', 'selected');
     });
 </script>